<main class="code-review">
  <header class="heading">
    <div class="container position-relative">
      <h1 class="text-center">
        Code Review
      </h1>
      <p class="fs-5 text-center">
        A code/software review is the process of testing your code parameters. Once you have completed the project and created a GitHub repository, you will be able to send it to us and we will check it out
      </p>
      <button class="btn btn-primary mx-auto" data-umami-event="cta-check-code">Check your code</button>
    </div>
  </header>
  <section class="code-review-why title-card-section">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-0">
          <h2 class="text-center h2 no-after">
            Why should you do this?
          </h2>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-12 col-md-5 offset-md-1">
          <div class="card d-block mb-5 mb-md-0">
            <div class="card-body">
              <h3 class="h5 card-title">
                Because no one can ever say No
                <br>
                to a FREE Сode Review!
              </h3>
              <p class="card-text">
                The main goal of this process is to provide you with an expert analysis and suggestions on how you can improve your product
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <div class="card d-block">
            <div class="card-body">
              <h3 class="h5 card-title">
                Here is how the process goes:
              </h3>
              <p class="card-text">
                After you have submitted your code, you will receive a review of it, including the test coverage analysis.
                We will schedule a call  where we can go through the corrections with you, to better elaborate the result
              </p>
            </div>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="code-review-options title-card-section">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-0">
          <h2 class="text-center h2">
            Code Review options
          </h2>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-12 col-md-5 offset-md-1">
          <div class="card d-block">
            <%= image_tag 'kolosek/ic-development.svg', alt: "" %>
            <div class="card-body">
              <h3 class="h4 card-title text-center">
                Code Quality
              </h3>
              <p class="card-text">
                The code should be reliable—errors should be handled properly. Try using try-catches everywhere where there's a possibility for an error, so the user never gets something unexpected. Remember the DRY (Don’t Repeat Yourself) principle? Everything that can be reused should be made into a service, a util function, etc. Please be sure to write generic classes and interfaces
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <div class="card d-block">
            <%= image_tag 'kolosek/ic-settings.svg', alt: "" %>
            <div class="card-body">
              <h3 class="h4 card-title text-center">
                Code Maintainability
              </h3>
              <p class="card-text">
                Here are a few Don’ts you should keep in mind: don't use nested loops if there's no need for them and don't use loggers. Your code should be: readable, easily testable, easy to debug and configurable. Keep in mind that if we can’t get an idea of what is going on in the code just by looking at it, it is probably not the best-written code
              </p>
            </div>
          </div>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-12 col-md-5 offset-md-1">
          <div class="card d-block">
            <%= image_tag 'kolosek/ic-scale.svg', alt: "" %>
            <div class="card-body">
              <h3 class="h4 card-title text-center">
                Project Architecture
              </h3>
              <p class="card-text">
                The project should follow a certain architecture (MVC, Client-Server, Service-oriented etc.) and should use the proper code, design patterns, and technologies. The code should also be split into multiple layers and tiers (Presentation, Business and Data layers)
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <div class="card d-block">
            <%= image_tag 'kolosek/ic-more.svg', alt: "" %>
            <div class="card-body">
              <h3 class="h4 card-title text-center">
                + Many more parameters
              </h3>
              <p class="card-text">
                We will be testing many other parameters in this process, including code formatting, the usage of framework features, speed optimization, code security, code performance and code reusability
              </p>
            </div>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 col-md-8 offset-md-2">
          <h2 class="text-center h1">
            Make it happen
          </h2>
          <div class="cover">
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
            <script>
              hbspt.forms.create({
                region: "na1",
                portalId: "1118038",
                formId: "cd66f054-5a36-4e84-aeb7-60f03e1181ae"
              });
            </script>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
</main><!-- /main -->
