<main class="contact-us">
  <header class="heading" style="margin-bottom: 8rem">
    <div class="container position-relative">
      <h1 class="text-center">
        Feel like working together?
      </h1>
      <p class="fs-5 text-center">
        We helped build many startups in various industries. We are sure we can help you too.
        <br>
        Tell us more about your project or idea
      </p>
    </div>
  </header>
  <section class="contact" style="margin-bottom: 8rem">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-12 col-md-5">
          <div class="contact-us-get-in-touch">
            <h2 class="h3">Get in touch</h2>
            <div class="">
              <h3 class="h4"><%= image_tag 'kolosek/ic-mic.svg', alt: "" %>Call us</h3>
              <p>
                Schedule a meeteng to discuss your idea and see how we can help
              </p>
              <a href="https://cal.com/neshaz/intro" data-umami-event="cta-schedule-call">Schedule a call </a>
            </div>
            <div class="">
              <h3 class="h4"><%= image_tag 'kolosek/ic-pen.svg', alt: "" %>Write to us</h3>
              <p>
                If you prefere to chat fill out the feedback form or say hello at <a href="#">hello at kolosek.com</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-7">
          <iframe style="border:none;width:100%;height:700px;" id="contact-form-uqybag" src="https://forms.kolosek.dev/forms/contact-form-uqybag"></iframe><script type="text/javascript" onload="initEmbed('contact-form-uqybag', { autoResize: true })" src="/widgets/iframe.min.js"></script>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /section -->
  <section class="contact-us-review">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 d-flex align-items-center flex-column mb-0">
          <h2 class="text-center h2 review-title">
            Need a review?
          </h2>
          <p class="text-center fs-5">
            Submit your code or/and design to get feedback on your work. The main goal of this process is to provide you with an expert analysis and suggestions on how to improve your product
          </p>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-12 col-md-5 offset-md-1">
          <div class="features-box">
            <h3 class="h2">Code</h3>
            <ul class="list-unstyled">
              <li>Code Quality</li>
              <li>Code Maintainability</li>
              <li>Project Architecture</li>
              <li>+ many more parameters</li>
            </ul>
            <button class="btn btn-outline-primary w-100" data-text="Learn More" data-umami-event="cta-learn-more-code"><span>Learn More</span></button>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <div class="features-box">
            <h3 class="h2">Design</h3>
            <ul class="list-unstyled">
              <li>System Messages</li>
              <li>Typography</li>
              <li>Colors, Foregrounds & Backgrounds</li>
              <li>+ many more UI & UX features</li>
            </ul>
            <button class="btn btn-outline-primary w-100" data-text="Learn More" data-umami-event="cta-learn-more-design"><span>Learn More</span></button>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
</main><!-- /main -->
