<div id="contact-us-section" class="relative overflow-y-auto bg-gray-900 mt-32">
  <div class="mx-auto grid max-w-7xl grid-cols-1 lg:grid-cols-2">
    <div class="relative isolate px-6 pb-20 pt-24 sm:pt-32 lg:static lg:px-8 lg:py-48">
      <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-lg">
        <div class="absolute inset-y-0 left-0 -z-10 w-full overflow-hidden ring-1 ring-white/5 lg:w-1/2">
          <svg class="absolute inset-0 h-full w-full stroke-gray-700 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
            <defs>
              <pattern id="54f88622-e7f8-4f1d-aaf9-c2f5e46dd1f2" width="200" height="200" x="100%" y="-1" patternUnits="userSpaceOnUse">
                <path d="M130 200V.5M.5 .5H200" fill="none" />
              </pattern>
            </defs>
            <svg x="100%" y="-1" class="overflow-visible fill-gray-800/20">
              <path d="M-470.5 0h201v201h-201Z" stroke-width="0" />
            </svg>
            <rect width="100%" height="100%" stroke-width="0" fill="url(#54f88622-e7f8-4f1d-aaf9-c2f5e46dd1f2)" />
          </svg>
          <div class="absolute -left-56 top-[calc(100%-13rem)] transform-gpu blur-3xl lg:left-[max(-14rem,calc(100%-59rem))] lg:top-[calc(50%-7rem)]" aria-hidden="true">
            <div class="aspect-[1155/678] w-[72.1875rem] bg-gradient-to-br from-[#80caff] to-[#4f46e5] opacity-20" style="clip-path: polygon(74.1% 56.1%, 100% 38.6%, 97.5% 73.3%, 85.5% 100%, 80.7% 98.2%, 72.5% 67.7%, 60.2% 37.8%, 52.4% 32.2%, 47.5% 41.9%, 45.2% 65.8%, 27.5% 23.5%, 0.1% 35.4%, 17.9% 0.1%, 27.6% 23.5%, 76.1% 2.6%, 74.1% 56.1%)"></div>
          </div>
        </div>
        <h2 class="text-3xl font-bold tracking-tight text-white">Talk to a developer</h2>
        <p class="mt-6 text-lg leading-8 text-gray-300">Get our experienced team member on a call to help you get started.</p>
        <ul class="mt-10 space-y-4 text-base list-disc list-inside marker:text-indigo-500 leading-7 text-gray-300">
          <li>
            Speed up your CI/CD pipeline several times.
          </li>
          <li>
            Reduce your CI/CD costs.
          </li>
          <li>
            Get help from developer for easier setup.
          </li>
          <li>
            Double developer productivity with optimized workflows.
          </li>
        </ul>
      </div>
    </div>
    <!-- Cal inline embed code begins -->
    <div id="my-cal-inline" style="overflow:scroll" class="w-full h-[44.25rem]"></div>
    <script type="text/javascript">
    (function(C, A, L) {
      let p = function(a, ar) { a.q.push(ar); };
      let d = C.document;
      C.Cal = C.Cal || function() {
        let cal = C.Cal;
        let ar = arguments;
        if (!cal.loaded) {
          cal.ns = {};
          cal.q = cal.q || [];
          d.head.appendChild(d.createElement("script")).src = A;
          cal.loaded = true;
        }
        if (ar[0] === L) {
          const api = function() { p(api, arguments); };
          const namespace = ar[1];
          api.q = api.q || [];
          typeof namespace === "string" ? (cal.ns[namespace] = api) && p(api, ar) : p(cal, ar);
          return;
        }
        p(cal, ar);
      };
    })(window, "https://cal.com/embed.js", "init");

    Cal("init", {origin:"https://meeting.ruby.ci"});
    
    Cal("inline", {
      elementOrSelector:"#my-cal-inline",
      calLink: "rubyci/value",
      layout: "month_view"
    });

    Cal("ui", {"styles":{"branding":{"brandColor":"#000000"}},"hideEventTypeDetails":false,"layout":"month_view"});
    </script>
  </div>
</div>
