<header data-header="" class="group sticky z-50 top-0 min-h-20 lg:h-20 flex flex-wrap flex-none items-center backdrop-blur border-b border-gray-900/5 transition-colors duration-300 [&amp;.stuck]:bg-white/90 dark:border-gray-50/5 dark:bg-transparent dark:[&amp;.stuck]:bg-gray-900/70 has-breadcrumbs">
    <nav class="outer xl:outer-xl flex items-center w-full py-4 group-[.has-breadcrumbs]:lg:min-h-0 group-[.has-breadcrumbs]:min-h-20">
        <div class="inner flex items-center min-h-10">
            <a data-brand="" class="flex-shrink mr-8 font-bold text-lg text-gray-900 dark:text-gray-50 " href="/" aria-label="Ruby.ci - Fastest Ruby on Rails CI">
                    <%= image_tag 'logo-rubyci-new.png', class: 'h-6', alt: "logo rubyci" %>
            </a>

                <ul data-navigation-desktop="" class="navigation hidden lg:flex space-x-2 text-gray-700 dark:text-gray-200" role="list">
             
                <li data-slug="docs" class="relative inline-flex 
                        max-3xl:[&amp;:nth-child(n+6)]:hidden
                            [&amp;:nth-child(n+6)]:hidden
                                            ">
                     
                        <a href="/docs" class="[&amp;.external>svg]:inline px-3 py-1.5 inline-flex items-center font-semibold text-sm leading-6 whitespace-nowrap rounded-lg hover:bg-gray-100 [&amp;.current]:bg-gray-100 [&amp;.current-parent]:bg-gray-100 dark:hover:bg-gray-700 dark:[&amp;.current]:bg-gray-700 dark:[&amp;.current-parent]:bg-gray-700">                            
                            Docs

                            <script>
                                (function() {
                                    var link = document.currentScript.parentElement;
                            
                                    if (link.protocol !== "javascript:" && link.hostname !== location.hostname) {
                                        link.classList.add('external');
                                        link.target = "_blank";
                                    }                            
                                })();
                            </script>
                        </a>                    
                </li>
             
                <li data-slug="features" class="relative inline-flex 
                        max-3xl:[&amp;:nth-child(n+6)]:hidden
                            [&amp;:nth-child(n+6)]:hidden
                                            ">
                     
                        <a href="/features" class="[&amp;.external>svg]:inline px-3 py-1.5 inline-flex items-center font-semibold text-sm leading-6 whitespace-nowrap rounded-lg hover:bg-gray-100 [&amp;.current]:bg-gray-100 [&amp;.current-parent]:bg-gray-100 dark:hover:bg-gray-700 dark:[&amp;.current]:bg-gray-700 dark:[&amp;.current-parent]:bg-gray-700    ">                            
                            Features
                            <script>
                                (function() {
                                    var link = document.currentScript.parentElement;
                            
                                    if (link.protocol !== "javascript:" && link.hostname !== location.hostname) {
                                        link.classList.add('external');
                                        link.target = "_blank";
                                    }                            
                                })();
                            </script>
                        </a>                    
                </li>
             
                <li data-slug="pricing" class="relative inline-flex 
                        max-3xl:[&amp;:nth-child(n+6)]:hidden
                            [&amp;:nth-child(n+6)]:hidden
                                            ">
                     
                        <a href="/pricing" class="[&amp;.external>svg]:inline px-3 py-1.5 inline-flex items-center font-semibold text-sm leading-6 whitespace-nowrap rounded-lg hover:bg-gray-100 [&amp;.current]:bg-gray-100 [&amp;.current-parent]:bg-gray-100 dark:hover:bg-gray-700 dark:[&amp;.current]:bg-gray-700 dark:[&amp;.current-parent]:bg-gray-700    ">                            
                            Pricing
                            <script>
                                (function() {
                                    var link = document.currentScript.parentElement;
                            
                                    if (link.protocol !== "javascript:" && link.hostname !== location.hostname) {
                                        link.classList.add('external');
                                        link.target = "_blank";
                                    }                            
                                })();
                            </script>
                        </a>                    
                </li>
             
                <li data-slug="blog" class="relative inline-flex 
                        max-3xl:[&amp;:nth-child(n+6)]:hidden
                            [&amp;:nth-child(n+6)]:hidden
                                            ">
                     
                        <a href="/blog" class="[&amp;.external>svg]:inline px-3 py-1.5 inline-flex items-center font-semibold text-sm leading-6 whitespace-nowrap rounded-lg hover:bg-gray-100 [&amp;.current]:bg-gray-100 [&amp;.current-parent]:bg-gray-100 dark:hover:bg-gray-700 dark:[&amp;.current]:bg-gray-700 dark:[&amp;.current-parent]:bg-gray-700    ">                            
                            Blog
                            <script>
                                (function() {
                                    var link = document.currentScript.parentElement;
                            
                                    if (link.protocol !== "javascript:" && link.hostname !== location.hostname) {
                                        link.classList.add('external');
                                        link.target = "_blank";
                                    }                            
                                })();
                            </script>
                        </a>                    
                </li>

        <li class="inline-flex relative 
                    max-3xl:[&amp;:nth-child(-n+6)]:hidden
                        3xl:[&amp;:nth-child(-n+6)]:hidden
                                    ">
            <button data-dropdown-toggle="" aria-label="Toggle menu" class="peer px-1.5 py-1.5 rounded-lg hover:bg-gray-100 [&amp;.open]:bg-gray-100 dark:hover:bg-gray-700 dark:[&amp;.open]:bg-gray-700">
                <svg class="relative w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="1.5" focusable="false" aria-hidden="true">
  <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"></path>
</svg>
            </button>     

            <ul data-dropdown="" class="hidden peer-[.open]:block absolute top-16 -left-1/2 max-xl:-right-1/2 max-xl:left-auto w-64 max-h-[calc(100vh-theme(spacing.24))] py-2 px-3 space-y-1 bg-white ring-1 ring-gray-900/5 shadow-sm rounded-md overflow-y-auto dark:bg-gray-800 dark:ring-white/5 dark:ring-inset" role="list">
                     
                        <li data-slug="docs" class="hidden
                                max-3xl:[&amp;:nth-child(n+6)]:block
                                    [&amp;:nth-child(n+6)]:block
                                                            ">
                             
                                <a href="https://ruby.ci/docs/" class="[&amp;.external>svg]:inline relative flex items-center px-3 py-1.5 font-semibold text-sm leading-6 rounded-lg hover:bg-gray-100 [&amp;.current]:bg-gray-100 [&amp;.current-parent]:bg-gray-100 dark:hover:bg-gray-700 dark:[&amp;.current]:bg-gray-700 dark:[&amp;.current-parent]:bg-gray-700  current-parent ">                                    
                                    Docs

                                    <svg class="hidden flex-shrink-0 w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" focusable="false" aria-hidden="true">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <path d="M17 7l-10 10"></path>
   <path d="M8 7l9 0l0 9"></path>
</svg>                                </a>
                        </li>
                     
                        <li data-slug="features" class="hidden
                                max-3xl:[&amp;:nth-child(n+6)]:block
                                    [&amp;:nth-child(n+6)]:block
                                                            ">
                             
                                <a href="https://ruby.ci/#features" class="[&amp;.external>svg]:inline relative flex items-center px-3 py-1.5 font-semibold text-sm leading-6 rounded-lg hover:bg-gray-100 [&amp;.current]:bg-gray-100 [&amp;.current-parent]:bg-gray-100 dark:hover:bg-gray-700 dark:[&amp;.current]:bg-gray-700 dark:[&amp;.current-parent]:bg-gray-700   ">                                    
                                    Features

                                    <svg class="hidden flex-shrink-0 w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" focusable="false" aria-hidden="true">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <path d="M17 7l-10 10"></path>
   <path d="M8 7l9 0l0 9"></path>
</svg>                                </a>
                        </li>
                     
                        <li data-slug="pricing" class="hidden
                                max-3xl:[&amp;:nth-child(n+6)]:block
                                    [&amp;:nth-child(n+6)]:block
                                                            ">
                             
                                <a href="https://ruby.ci/pricing/" class="[&amp;.external>svg]:inline relative flex items-center px-3 py-1.5 font-semibold text-sm leading-6 rounded-lg hover:bg-gray-100 [&amp;.current]:bg-gray-100 [&amp;.current-parent]:bg-gray-100 dark:hover:bg-gray-700 dark:[&amp;.current]:bg-gray-700 dark:[&amp;.current-parent]:bg-gray-700   ">                                    
                                    Pricing

                                    <svg class="hidden flex-shrink-0 w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" focusable="false" aria-hidden="true">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <path d="M17 7l-10 10"></path>
   <path d="M8 7l9 0l0 9"></path>
</svg>                                </a>
                        </li>
                     
                        <li data-slug="blog" class="hidden
                                max-3xl:[&amp;:nth-child(n+6)]:block
                                    [&amp;:nth-child(n+6)]:block
                                                            ">
                             
                                <a href="https://ruby.ci/blog/" class="[&amp;.external>svg]:inline relative flex items-center px-3 py-1.5 font-semibold text-sm leading-6 rounded-lg hover:bg-gray-100 [&amp;.current]:bg-gray-100 [&amp;.current-parent]:bg-gray-100 dark:hover:bg-gray-700 dark:[&amp;.current]:bg-gray-700 dark:[&amp;.current-parent]:bg-gray-700   ">                                    
                                    Blog

                                    <svg class="hidden flex-shrink-0 w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" focusable="false" aria-hidden="true">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <path d="M17 7l-10 10"></path>
   <path d="M8 7l9 0l0 9"></path>
</svg>                                </a>
                        </li>
            </ul>
        </li>
    </ul>


            <div data-header-buttons="" class="hidden lg:flex items-center mx-5 pl-5 space-x-1 border-l text-gray-400 border-gray-900/10 dark:border-gray-50/10 ">

                

            </div>

            <button data-ghost-search="" class="hidden lg:max-xl:flex ml-auto h-9 w-9 items-center justify-center flex-shrink-0 rounded-lg text-gray-500 dark:text-gray-400 bg-white/30 dark:bg-transparent hover:bg-gray-100 hover:text-gray-700 dark:hover:bg-gray-700 dark:hover:text-gray-300" title="Quick search..." aria-label="Quick search...">
                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" focusable="false" aria-hidden="true">
    <circle cx="11" cy="11" r="8"></circle>
    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
</svg>            </button>        
            <button data-ghost-search="" class="flex-shrink hidden xl:flex items-center h-9 w-56 min-w-0 px-4 ml-auto overflow-hidden ring-1 ring-gray-900/10 rounded-md text-gray-600/[0.82] text-sm bg-white/95 hover:bg-gray-50/90 hover:ring-gray-900/20 dark:text-gray-400/90 dark:bg-gray-800 dark:hover:bg-gray-700 dark:ring-inset dark:ring-gray-50/10">
                <svg class="flex-none w-5 h-5 text-gray-400 dark:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" focusable="false" aria-hidden="true">
    <circle cx="11" cy="11" r="8"></circle>
    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
</svg>                <span class="mx-2 truncate">Quick search...</span>
                <span class="ml-auto">⌘K</span>
            </button>

            <div class="flex lg:hidden items-center ml-auto -mr-1.5 space-x-2 text-gray-400">
                <button data-ghost-search="" class="w-8 h-8 flex items-center justify-center" title="Quick search..." aria-label="Quick search...">
                    <svg class="w-5 h-5 hover:text-gray-700 dark:hover:text-gray-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" focusable="false" aria-hidden="true">
    <circle cx="11" cy="11" r="8"></circle>
    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
</svg>                </button>
                <button data-mobile-menu-toggle="" class="w-8 h-8 flex items-center justify-center" title="Toggle menu" aria-label="Toggle menu">
                    <svg class="w-5 h-5 hover:text-gray-700 dark:hover:text-gray-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" focusable="false" aria-hidden="true">
  <path stroke-linecap="round" stroke-linejoin="round" d="M4 8h16M4 16h16"></path>
</svg>
                </button>
            </div>        
        </div>
    </nav>

    <div data-breadcrumbs="" class="outer xl:outer-xl hidden group-[.has-breadcrumbs]:lg:hidden group-[.has-breadcrumbs]:flex items-center w-full h-10 text-2xs border-t border-gray-900/5 dark:border-gray-50/5 ">
        <div class="inner flex items-center overflow-hidden">
            <button data-breadcrumbs-button="" class="flex-none flex items-center justify-center h-8 w-8 -ml-1.5 mr-1.5" aria-label="Toggle menu">
                <svg class="flex-none h-5 w-5 text-gray-400 hover:text-gray-700 dark:hover:text-gray-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" focusable="false" aria-hidden="true">
  <path stroke-linecap="round" stroke-linejoin="round" d="M4 8h16M4 16h16"></path>
</svg>
            </button>

            <span data-breadcrumbs-section="" class="flex-none truncate text-gray-500 dark:text-gray-400">
                <span data-breadcrumbs-section-text="">Tutorial</span>
                <span class="mx-2">/</span>
            </span>
            <span data-breadcrumbs-current="" class="truncate font-semibold text-gray-900 dark:text-gray-200">Installation</span>
        </div>
    </div>    
</header>