<section class="bg-gray-900 mt-24 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="flex flex-col pb-10 sm:pb-16 lg:pb-0 lg:pr-8 xl:pr-20">
        <%= image_tag 'nomad_logo.svg', alt: 'Nomad', width: '158', height: '48', class: 'h-12 self-start' %>
        <figure class="mt-10 flex flex-auto flex-col justify-between">
          <blockquote class="text-lg leading-8 text-white">
            <p>“Feedback loop is really great. The tools using on ruby.ci is best by far. compared to other CI solutions”</p>
          </blockquote>
          <figcaption class="mt-10 flex items-center gap-x-6">
            <%= image_tag 'wedson-lima.webp', alt: 'wedson-lima', class: 'h-14 w-14 rounded-full bg-gray-800' %>
            <div class="text-base">
              <div class="font-semibold text-white">Wedson de Sousa Lima</div>
              <div class="mt-1 text-gray-400">Nomad</div>
            </div>
          </figcaption>
        </figure>
      </div>
      <div class="flex flex-col border-t border-white/10 pt-10 sm:pt-16 lg:border-l lg:border-t-0 lg:pl-8 lg:pt-0 xl:pl-20">
        <%= image_tag 'agenda_logo.svg', alt: 'Agendaedu', width: '158', height: '48', class: 'h-12 self-start' %>
        <figure class="mt-10 flex flex-auto flex-col justify-between">
          <blockquote class="text-lg leading-8 text-white">
            <p>“Ruby.ci does its magic and everything just works. The CI is really fast compared to other solutions.”</p>
          </blockquote>
          <figcaption class="mt-10 flex items-center gap-x-6">
            <img class="h-14 w-14 rounded-full bg-gray-800" src="https://pbs.twimg.com/profile_images/1167483797039996929/AwWD9r5Y_400x400.jpg" alt="">
            <div class="text-base">
              <div class="font-semibold text-white">Renan Gurgel</div>
              <div class="mt-1 text-gray-400">CTO at Agenda Edu</div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
