<header id="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/" data-umami-event="nav-home">
        <%= image_tag 'kolosek/logo.svg', alt: "" %>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link" href="/about" data-umami-event="nav-about">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/featured" data-umami-event="nav-featured">Featured projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://poslovi.kolosek.com" data-umami-event="nav-careers">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog" data-umami-event="nav-blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pe-0" href="/contact" data-umami-event="nav-contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav><!-- /nav -->
</header><!-- /#header -->
