<div class="outer xl:outer-xl post tag-hash-blog-grid">
  <article class="inner">
    <div data-hero="" class="text-lg max-w-none py-16 sm:py-6 md:py-12 mx-auto sm:text-center">
    </div>

    <div class="">
      <div class="w-full max-w-4xl mx-auto ">
        <div>
          <h2 class="text-5xl font-bold mb-10 text-center">
            <%= @page['title'] %>
          </h2>  

          <div class="content lg:content-lg mb-16 sm:mb-20 md:mb-28 has-full has-wide ">
            <%= raw @page['html'] %>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
