<div class="outer xl:outer-xl post tag-hash-blog-grid">
  <article class="inner">
    <div data-hero="" class="text-lg max-w-none py-16 sm:py-6 md:py-12 mx-auto sm:text-center">
    </div>

    <div class="mt-10">
      <div class="w-full max-w-2xl mx-auto" style="min-height: 600px;">
        <div>
          <div class="page-title" style="display: block; margin: 0 0 1rem; padding: 0 0 4px; color: #15171a;font-size: 3rem; letter-spacing: -.017em; line-height: 1.1em; font-weight: 700;">
            <%= @page['title'] %>
          </div>  

          <div class="content lg:content-lg mb-16 sm:mb-20 md:mb-28 has-full has-wide ">
            <%= raw @page['html'] %>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
